html {
    font-style: inherit; 
    background: url(../img/mrk.gif);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Shadows Into Light', cursive;
}   
.top {
    font-size: 12px;
}
.note {
    color: rgb(228, 15, 15);
    flex-grow: inherit;
    margin: 0;
}
h1 {
    font-size: 40px;
    color: #000000;
    font-family: 'Wendy One', sans-serif;
}
img {
    border-radius: 50%;
}
